<div class="container">
    <h1 class="text-center">Sea Creatures</h1>
    <p class="text-center">
      <a href="fishes/favorites">Favorites</a>
    </p>
    <% for(let i=0; i < fish.length; i++){ %>
      <div class="well" id="fish-container">
          <a id="fish-name" href="/fishes/<%= fish[i]['Species Name'] %>"><%= fish[i]['Species Name'] %></a>
        
          <img style = "max-width: 200px; height: auto" src="<%= fish[i]['Species Illustration Photo']['src'] %>" alt="fish image">
        
          <form method="POST" action="fishes/favorite/<%= fish[i]['Species Name'] %>/<%= fish[i]['Harvest Type'] %>">
            <button class="btn btn-primary" type="submit">Add to Favorite</button>
          </form>
      
        
      </div>
    <% } %>
    
  </div>